.navbar-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    justify-content: left;
}

.navbar-item {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: white;;
    margin-left: 25px;
}




.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.project-item {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
}


.skills-container {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.skills-item,.autobiography-item{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.footer-container{
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    align-items: center;
}

.mail-item,.detail-item{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.center{
    text-align: center;
}

.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 150px;
}



.beat-bits, .farm, .data{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 175px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
}



.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height:75px;
    border-radius: 150px;
}

.mail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height:100px;
}