/*styles for navbar*/
.navbar-container {
    display: flex;
    justify-content: left;
}

.navbar-item {
    display: flex;
    margin-left: 25px;
}



/*styles for project*/
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.project-item {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
}


/*styles for skills and autobiography*/
.skills-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.skills-item,.autobiography-item{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

/*styles for footer*/
.footer-container{
    display: flex;
    align-items: center;
    height: 100px;
}

/*styles for center*/
.center{
    text-align: center;
}

/*styles for images*/
.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 150px;
}



.beat-bits, .farm, .data{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 175px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
}



.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height:55px;
    border-radius: 150px;
}

/*other styles*/
.mail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height:100px;
}


p, a {
    margin: 5px;
}

body{
    background-color: #FDF5DF;
    font-family: "Arial";
}



#link{
    text-decoration: none;
    color: black;
}

#back {
    color: blue;
}